@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', serif;
}
h2 {
  color: #eee;
}
.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  background: url('./img/bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 2.8rem;
  line-height: 60px;
}

.subtitle {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 40px;
}

.form-container {
  height: 90vh;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.form {
  margin-bottom: 2em;
}

input[type='text'] {
  margin: 5px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  width: 35%;
  background: transparent;
  color: #eee;
  border: none;
  border-bottom: 1px solid black;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}

button {
  font-size: 1.2rem;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  width: 30%;
  background: #eee;
  color: #333333;
  border: 1px;
  border-radius: 3px;
}

button:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.weather_info {
  padding: 15px 10px;
}
.weather {
  font-size: 1.2rem;
  color: #eee;
}

.weather_error {
  color: black;
  font-size: 2rem;
}
